@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
    font-family: 'Poppins', sans-serif;
}

button {
    transition: 0.1s linear all;
}

button:hover {
    opacity: 0.9;
}

.custom {
    width: 1200px;
}

.custom-padding-01 {
    padding: 10px 25px 10px 25px;
}

.unexpected-1 {
    background:
        linear-gradient(currentColor 0 0) var(--p, 50%) 
      100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
  }
  
  .unexpected-1:hover {
    --d: 100%;
    --p: 0%;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  
  .black {
    background-color: black;
  }

  .red {
    background-color: red;
  }